Repository hootpy/hellospeak-be: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-formatter, ruff-linter, toml-sort

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
  - repo: local
    hooks:
      - id: ruff-formatter
        name: Ruff formatter
        entry: ruff
        language: python
        types: [ python ]
        args: [ format]
      - id: ruff-linter
        name: Ruff linter
        entry: ruff
        types: [ python ]
        language: python
        args: [ check, --fix]
      - id: toml-sort
        name: Sort TOML files
        entry: toml-sort
        language: python
        types: [ toml ]
        args: [ --in-place, --sort-table-keys ]

feat: Add authenticate route
  docker/dev.Dockerfile
  docker/dev.docker-compose.yaml
  poetry.lock
  pyproject.toml
  src/app/apis/auth.py
  src/app/apis/routes.py
  src/app/apis/user.py
  src/app/common/__init__.py
  src/app/common/auth/__init__.py
  src/app/common/auth/authenticator.py
  src/app/common/auth/user.py
  src/app/common/exception/__init__.py
  src/app/common/exception/auth.py
  src/app/common/exception/user.py
  src/app/config/configs.py
  src/app/config/settings.py
  src/app/crud/__init__.py
  src/app/crud/user.py
  src/app/depends/__init__.py
  src/app/depends/user.py
  src/app/migrations/0001_initial.py
  src/app/models/__init__.py
  src/app/models/car.py
  src/app/models/user.py
  src/app/schemas/__init__.py
  src/app/schemas/token.py
  src/app/schemas/user.py
Due: ruff-formatter, ruff-linter, toml-sort

ci: config heroku
  Procfile
  requirements.txt
Due: none

Feature: add conversation path
  docker/dev.docker-compose.yaml
  poetry.lock
  pyproject.toml
  src/app/apis/chat.py
  src/app/apis/conversation.py
  src/app/apis/routes.py
  src/app/apis/user.py
  src/app/common/websocket/__init__.py
  src/app/common/websocket/room_manager.py
  src/app/common/websocket/signal_manager.py
  src/app/crud/conversation.py
  src/app/crud/user.py
  src/app/migrations/0002_user_full_name_user_username.py
  src/app/migrations/0003_conversation.py
  src/app/migrations/0004_alter_conversation_table.py
  src/app/migrations/0005_alter_user_username.py
  src/app/migrations/0006_conversation_level_conversation_topic_and_more.py
  src/app/models/__init__.py
  src/app/models/conversation.py
  src/app/models/user.py
  src/app/schemas/conversation.py
  src/app/schemas/user.py
Due: ruff-formatter, ruff-linter, toml-sort

fix: remove authentication on the conversation
  src/app/apis/conversation.py
Due: ruff-formatter, ruff-linter

fix: add cors middleware
  src/app/__init__.py
Due: ruff-formatter, ruff-linter

fix: add cors middleware
  src/app/__init__.py
  src/app/config/settings.py
  src/app/setup/middlewares.py
Due: ruff-formatter, ruff-linter

feat: Add README.md
  README.md
  src/app/migrations/0007_alter_conversation_topic.py
Due: ruff-formatter, ruff-linter

feat: add scoreboard endpoint
  src/app/apis/user.py
  src/app/crud/user.py
  src/app/schemas/user.py
  src/app/setup/__init__.py
  src/app/setup/middlewares.py
Due: ruff-formatter, ruff-linter

feat: update README.md
  .env.example
  README.md
  docker/dev.docker-compose.yaml
Due: none
